<form (ngSubmit)="submitQuote()">
    <h1>Add Quote</h1>

    <div  class="md-form">
        <label for="">Quote</label>
        <input type="text" name="quote" [(ngModel)]="quoteEditor">

    </div>
    <div  class="md-form">
        <label for="">Author</label>
        <input type="text" name="author" [(ngModel)]="quoteAuthor">
    </div>
    <div  class="md-form">
        <label for="">Person</label>
        <input type="text" name="person" [(ngModel)]="quoteWords">
    </div>

    <button type="submit">Post Quote</button>
</form>
