<div class="overlay">
<h1>MOTIVATIONAL QUOTES</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="all-cards">
                <div *ngFor='let qt of quotes; let i=index'>
                    <div class="card-body">
                        <p style="font-style: oblique;" appHighlight *ngIf="highestUpvote()===qt.upvotes && qt.upvotes>0">Quote: {{ qt.quote }}</p>
                        <p *ngIf="highestUpvote()!==qt.upvotes || qt.upvotes===0">Quote: {{ qt.quote }}</p>
                        <app-detail  [quote]='qt'></app-detail>
                        <button class="btn btn-info" (click)="upvote(i)">Upvote </button>
                        <button class="btn btn-info" (click)="downvote(i)">Downvote </button>
                        <button class="btn btn-danger" (click)="delQuote(i)">Delete</button><br>
                    </div>
                </div>
            </div>
        </div>
    <div>
        <div class="row" style="text-align: center;">
            <div class="col-md-12">
                <app-form (emitQuote)="addQuote($event)"></app-form>
            </div>
        </div>
</div>
</div>
