
.overlay{
    background-color:darkcyan;
    margin-top:4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 5%;

}
h1{
    font-style: oblique;
    font-family: 'Special Elite', cursive;
    text-align: center;
}
.container{
    background-color: aquamarine;
    border-radius: 5px;

}
.all-cards{
    display: flex;
    flex-wrap: wrap;
}
